PyQt5==5.15.9
OpenCv-python
numpy==1.24.3
pytz
requests
PyQtWebEngine
pillow
python-dotenv
tensorflow==2.10.1
matplotlib
tqdm
tenacity
torch
transformers
configparser
scikit-learn
cartopy
folium
onnx2keras
onnx
mkdocs
mkdocs-material
pymdown-extensions
